<footer>
    <div class="container">
        <div class="row">
        	<div class="col-sm-12 buy-prompt">
        		<p>Buy online and in the Foot Care Aisle<br>at the following retailers:</p>
        	</div>
        </div>
        <div class="row">
            <div class="col-sm-4 left"><a href="http://www.walmart.ca/en" target="_blank"><img class="footer-logo" src="img/logo-walmart.jpg" alt="walmart"></a></div>
        	<div class="col-sm-4 center"><a href="http://www.shoppersdrugmart.ca/" target="_blank"><img class="footer-logo" src="img/logo-sdm.png" alt="shoppers drug mart"></a></div>
        	<div class="col-sm-4 right"><a href="http://www.loblaws.ca/en_CA.html" target="_blank"><img class="footer-logo" src="img/logo-loblaws.png" alt="loblaws"></a></div>
        </div>
        <div class="row">
            <div class="col-sm-4 left"><a href="http://www.jeancoutu.com/en/" target="_blank"><img class="footer-logo" src="img/logo-jc.png" alt="jean coutu"></a></div>
        	<div class="col-sm-4 center"><a href="http://www.amazon.ca/" target="_blank"><img class="footer-logo" src="img/logo-amazon.jpg" alt="amazon"></a></div>
        	<div class="col-sm-4 right"><a href="http://www.rexall.ca/" target="_blank"><img class="footer-logo" src="img/logo-rexall.png" alt="rexall"></a></div>
        </div>
    </div>
</footer>
