<header>
    <div class="container">
		<div class="row">
			<div class="col-sm-12 top-logo">
				<img class="amope" src="img/amope-logo.png" alt="amope logo">
				<img class="pedi-perfect" src="img/pedi-perfect-logo-new.png" alt="">
				<img class="product" src="img/pedi-perfect-product-new.png" alt="">
			</div>
			<!-- <div class="col-sm-3 pedi-perfect"><img src="img/pedi-perfect-logo.png" alt=""></div> -->
			<!-- <div class="col-sm-5 product"><img src="img/pedi-perfect-product.png" alt=""></div> -->
		</div>
    </div>
</header>
